# Task 2: Unemployment Analysis!

**Importing Libraries**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pyplot.express as px
%matplotlib inline
import seaborn as sns

ModuleNotFoundError: No module named 'pyplot'

In [ ]:
import warnings
warnings.filterwarnings("ignore")

**Importing data**

In [ ]:
data = pd.read_csv("Unemployment in India.csv");

In [ ]:
data

In [ ]:
data.shape

**Check if their is any Null values present in the data!**

In [ ]:
data.isnull().sum()

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.isnull().sum()

**We have dropped the null values**

In [ ]:
data.shape

In [ ]:
data.describe()

In [ ]:
data.describe().round()

In [ ]:
data.corr()

In [ ]:
data.info()

**We can observe that their are three columns with float datatype and four columns with object datatype!**

**Data Wrangling**

In [ ]:
data.sample(10)

**#Converting the date into datetime format**

In [ ]:
data['Date']=pd.to_datetime(data[' Date'])

In [ ]:
data

**Extracting the year and month from the date**

In [ ]:
year=[i.strftime('%Y') for i in list(data['Date'])]
month=[i.strftime('%B') for i in list(data['Date'])]

In [ ]:
data['Year']=year
data['Month']=month

In [ ]:
data

**EDA**

In [ ]:
data.columns

In [ ]:
plt.figure(figsize=(19,14))
sns.barplot(x=data[" Estimated Unemployment Rate (%)"], y=data[" Estimated Labour Participation Rate (%)"]);

**Area wise unemployment analysis**

In [ ]:
area_unemploy=data.groupby(['Area'],as_index=False)[' Estimated Unemployment Rate (%)'].mean()
area_unemploy_plot=sns.barplot(data=area_unemploy,x='Area',y=' Estimated Unemployment Rate (%)')
for bar in area_unemploy_plot.patches:
    area_unemploy_plot.annotate(format(bar.get_height(), '.2f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=12, xytext=(0, 8),
                   textcoords='offset points')

**We can conclude that Urban is having 13.17 of unemployment and Rural is having 10.32 of unemployment**

**Which state has the most data**

In [ ]:
count1 = data.Region.value_counts()

plt.figure(figsize=(13,10))
sns.barplot(count1.index, count1.values, alpha=0.8)
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('Region', fontsize=13)
plt.title('Count the Region', fontsize=16)
plt.xticks(rotation='vertical')
plt.show()

**Take the mean of rate state by state**

In [ ]:
grouped = data.groupby(["Region"])[" Estimated Unemployment Rate (%)"].aggregate("mean").reset_index()

plt.figure(figsize=(13,10))
sns.pointplot(grouped['Region'].values, grouped[' Estimated Unemployment Rate (%)'].values, alpha=0.8)
plt.ylabel('Mean rate', fontsize=13)
plt.xlabel('Region', fontsize=13)
plt.title("Average of mean", fontsize=16)
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
unemploment = data[["Region", " Estimated Unemployment Rate (%)"]]
fig = px.sunburst(unemploment, path=["Region"], 
                     values=" Estimated Unemployment Rate (%)", 
                     width=700, height=700, color_continuous_scale="RdY1Gn", 
                     title="Unemployment Rate in India")

fig.show()

**Unemployment rate is highest in Uttar Pradesh over 27% while lowest in Meghalayas at around 4% !**

In [ ]:
area_emp=data.groupby(['Area'],as_index=False)[' Estimated Employed'].mean()
area_emp_plot=sns.barplot(data=area_emp,x='Area',y=' Estimated Employed')
for bar in area_emp_plot.patches:
    area_emp_plot.annotate(format(bar.get_height(), '.2f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=12, xytext=(0, 8),
                   textcoords='offset points')

In [ ]:
plot=sns.barplot(x='Year',y=' Estimated Unemployment Rate (%)',data=data.groupby('Year',as_index=False)[' Estimated Unemployment Rate (%)'].mean())

for bar in plot.patches:
 
  plot.annotate(format(bar.get_height(), '.2f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=15, xytext=(0, 8),
                   textcoords='offset points')

**As we can see that the rate from 2019 increased drastically from 9.40 to around 15.10 in just a year!**

## Conclusions:

~~ We can conclude that Urban is having 13.17 of unemployment and Rural is having 10.32 of unemployment
~~ Unemployment rate is highest in Tripura over 27% while lowest in Meghalayas at around 4% !
~~ As we can see that the rate from 2019 increased drastically from 9.40 to around 15.10 in just a year!